mixin catalogue2
	section.catalogue
		.side-nav
			h1.side-nav__title Каталог
			ul.side-nav__list
				li.side-nav__item
					a(href="#").side-nav__link.side-nav__link--active Ткани для домашнего текстиля
					ul.side-nav__list
						li.side-nav__item
							a(href="#").side-nav__link.side-nav__link--active Сатиновая ткань
						li.side-nav__item
							a(href="#").side-nav__link Перкалевая ткань
						li.side-nav__item
							a(href="#").side-nav__link Вафельное полотно
						li.side-nav__item
							a(href="#").side-nav__link Жаккардовые ткани
						li.side-nav__item
							a(href="#").side-nav__link Льняная ткань
				li.side-nav__item
					a(href="#").side-nav__link Готовые изделия
				li.side-nav__item
					a(href="#").side-nav__link Ткани защитные для спецодежды
		.catalogue__content
			h2.catalogue__title Сатиновая ткань
			ul.fabrics
				li.fabrics__item
					img(src="img/fabric-img.jpg").fabrics__img
					span Сатин гладкий
				li.fabrics__item
					img(src="img/fabric-img.jpg").fabrics__img
					span Сатин гладкий
				li.fabrics__item
					img(src="img/fabric-img.jpg").fabrics__img
					span Сатин гладкий
				li.fabrics__item
					img(src="img/fabric-img.jpg").fabrics__img
					span Сатин гладкий
				li.fabrics__item
					img(src="img/fabric-img.jpg").fabrics__img
					span Сатин гладкий
				li.fabrics__item
					img(src="img/fabric-img.jpg").fabrics__img
					span Сатин гладкий
				li.fabrics__item
					img(src="img/fabric-img.jpg").fabrics__img
					span Сатин гладкий
				li.fabrics__item
					img(src="img/fabric-img.jpg").fabrics__img
					span Сатин гладкий
				li.fabrics__item
					img(src="img/fabric-img.jpg").fabrics__img
					span Сатин гладкий
				li.fabrics__item
					img(src="img/fabric-img.jpg").fabrics__img
					span Сатин гладкий
			button(type="button").btn.fabrics Показать еще
			+docs
