mixin catalogue2
	section.catalogue
		.side-nav
			h1.side-nav__title Каталог
			ul.side-nav__list
				li.side-nav__item.side-nav__item--active
					a(href="#").side-nav__link Ткани для домашнего текстиля
					ul.side-nav__list
						li.side-nav__item.side-nav__item--active
							a(href="/catalogue-page2.html").side-nav__link Сатиновая ткань
						li.side-nav__item
							a(href="#").side-nav__link Перкалевая ткань
						li.side-nav__item
							a(href="#").side-nav__link Вафельное полотно
						li.side-nav__item
							a(href="#").side-nav__link Жаккардовые ткани
						li.side-nav__item
							a(href="#").side-nav__link Льняная ткань
				li.side-nav__item
					a(href="#").side-nav__link Готовые изделия
					ul.side-nav__list
						li.side-nav__item
							a(href="#").side-nav__link Текстиль для кухни
						li.side-nav__item
							a(href="#").side-nav__link Постельное бельё
						li.side-nav__item
							a(href="#").side-nav__link Спа и сауна
						li.side-nav__item
							a(href="#").side-nav__link Детский текстиль
						li.side-nav__item
							a(href="#").side-nav__link Столовое бельё
						li.side-nav__item
							a(href="#").side-nav__link Текстиль для гостиниц
				li.side-nav__item
					a(href="#").side-nav__link Ткани защитные для спецодежды
					ul.side-nav__list
						li.side-nav__item
							a(href="#").side-nav__link Термостойкие арамидные ткани
						li.side-nav__item
							a(href="#").side-nav__link Огнестойкие ткани
						li.side-nav__item
							a(href="#").side-nav__link Антистатичные ткани
						li.side-nav__item
							a(href="#").side-nav__link Информация для специалистов
		.catalogue__content
			h2.catalogue__title Сатиновая ткань
			div.fabrics
				a(href="/fabric-page.html").fabrics__item
					.fabrics__img-wrapper
						img(src="img/fabric-img.jpg").fabrics__img
					span Сатин гладкий
				a(href="#").fabrics__item
					.fabrics__img-wrapper
						img(src="img/fabric-img.jpg").fabrics__img
					span Сатин гладкий
				a(href="#").fabrics__item
					.fabrics__img-wrapper
						img(src="img/fabric-img.jpg").fabrics__img
					span Сатин гладкий
				a(href="#").fabrics__item
					.fabrics__img-wrapper
						img(src="img/fabric-img.jpg").fabrics__img
					span Сатин гладкий
				a(href="#").fabrics__item
					.fabrics__img-wrapper
						img(src="img/fabric-img.jpg").fabrics__img
					span Сатин гладкий
				a(href="#").fabrics__item
					.fabrics__img-wrapper
						img(src="img/fabric-img.jpg").fabrics__img
					span Сатин гладкий
				a(href="#").fabrics__item
					.fabrics__img-wrapper
						img(src="img/fabric-img.jpg").fabrics__img
					span Сатин гладкий
				a(href="#").fabrics__item
					.fabrics__img-wrapper
						img(src="img/fabric-img.jpg").fabrics__img
					span Сатин гладкий
				a(href="#").fabrics__item
					.fabrics__img-wrapper
						img(src="img/fabric-img.jpg").fabrics__img
					span Сатин гладкий
				a(href="#").fabrics__item
					.fabrics__img-wrapper
						img(src="img/fabric-img.jpg").fabrics__img
					span Сатин гладкий
			button(type="button").btn.more Показать еще
			+docs
