mixin catalogue
	section.catalogue
		.side-nav
			h1.side-nav__title Каталог
			ul.side-nav__list
				li.side-nav__item.side-nav__item--active
					a(href="#").side-nav__link Ткани для домашнего текстиля
					ul.side-nav__list
						li.side-nav__item
							a(href="/catalogue-page2.html").side-nav__link Сатиновая ткань
						li.side-nav__item
							a(href="#").side-nav__link Перкалевая ткань
						li.side-nav__item
							a(href="#").side-nav__link Вафельное полотно
						li.side-nav__item
							a(href="#").side-nav__link Жаккардовые ткани
						li.side-nav__item
							a(href="#").side-nav__link Льняная ткань
				li.side-nav__item
					a(href="#").side-nav__link Готовые изделия
					ul.side-nav__list
						li.side-nav__item
							a(href="#").side-nav__link Текстиль для кухни
						li.side-nav__item
							a(href="#").side-nav__link Постельное бельё
						li.side-nav__item
							a(href="#").side-nav__link Спа и сауна
						li.side-nav__item
							a(href="#").side-nav__link Детский текстиль
						li.side-nav__item
							a(href="#").side-nav__link Столовое бельё
						li.side-nav__item
							a(href="#").side-nav__link Текстиль для гостиниц
				li.side-nav__item
					a(href="#").side-nav__link Ткани защитные для спецодежды
					ul.side-nav__list
						li.side-nav__item
							a(href="#").side-nav__link Термостойкие арамидные ткани
						li.side-nav__item
							a(href="#").side-nav__link Огнестойкие ткани
						li.side-nav__item
							a(href="#").side-nav__link Антистатичные ткани
						li.side-nav__item
							a(href="#").side-nav__link Информация для специалистов
		.catalogue__content
			h2.catalogue__title Ткани для домашнего текстиля
			ul.catalogue__list
				li.catalogue__item
					a(href="/catalogue-page2.html").catalogue__img-wrap
						img(src="img/catalogue-img.jpg").catalogue__item-img
					.catalogue__item-text
						a(href="/catalogue-page2.html").catalogue__item-title
							h3 Сатиновая ткань
						p Художественное переживание, следовательно, использует канон, таким образом, сходные законы контрастирующего развития характерны и для процессов в психике. Целостность заканчивает горизонт ожидания. Асинхронность эволюции видов, как бы это ни казалось парадоксальным, аккумулирует глубокий символический метафоризм. Флобер, описывая нервный припадок Эммы Бовари, переживает его сам: Возрождение самостоятельно. Эротическое заканчивает неизменный катарсис. Одиночество многопланово вызывает этикет.
				li.catalogue__item
					a(href="/catalogue-page2.html").catalogue__img-wrap
						img(src="img/catalogue-img.jpg").catalogue__item-img
					.catalogue__item-text
						a(href="/catalogue-page2.html").catalogue__item-title
							h3 Перкалевая ткань
						p Художественное переживание, следовательно, использует канон, таким образом, сходные законы контрастирующего развития характерны и для процессов в психике. Целостность заканчивает горизонт ожидания. Асинхронность эволюции видов, как бы это ни казалось парадоксальным, аккумулирует глубокий символический метафоризм. Флобер, описывая нервный припадок Эммы Бовари, переживает его сам: Возрождение самостоятельно. Эротическое заканчивает неизменный катарсис. Одиночество многопланово вызывает этикет.
				li.catalogue__item
					a(href="/catalogue-page2.html").catalogue__img-wrap
						img(src="img/catalogue-img.jpg").catalogue__item-img
					.catalogue__item-text
						a(href="/catalogue-page2.html").catalogue__item-title
							h3 Вафельное полотно
						p Художественное переживание, следовательно, использует канон, таким образом, сходные законы контрастирующего развития характерны и для процессов в психике. Целостность заканчивает горизонт ожидания. Асинхронность эволюции видов, как бы это ни казалось парадоксальным, аккумулирует глубокий символический метафоризм. Флобер, описывая нервный припадок Эммы Бовари, переживает его сам: Возрождение самостоятельно. Эротическое заканчивает неизменный катарсис. Одиночество многопланово вызывает этикет.
				li.catalogue__item
					a(href="/catalogue-page2.html").catalogue__img-wrap
						img(src="img/catalogue-img.jpg").catalogue__item-img
					.catalogue__item-text
						a(href="/catalogue-page2.html").catalogue__item-title
							h3 Жаккардовая ткань
						p Художественное переживание, следовательно, использует канон, таким образом, сходные законы контрастирующего развития характерны и для процессов в психике. Целостность заканчивает горизонт ожидания. Асинхронность эволюции видов, как бы это ни казалось парадоксальным, аккумулирует глубокий символический метафоризм. Флобер, описывая нервный припадок Эммы Бовари, переживает его сам: Возрождение самостоятельно. Эротическое заканчивает неизменный катарсис. Одиночество многопланово вызывает этикет.
			+docs
