mixin company
	section.company
		.side-nav
			h1.side-nav__title О компании
			ul.side-nav__list
				li.side-nav__item.side-nav__item--active
					a(href="#").side-nav__link Обращение генерального директора
				li.side-nav__item
					a(href="#").side-nav__link О комбинате
				li.side-nav__item
					a(href="#").side-nav__link История комбината
				li.side-nav__item
					a(href="#").side-nav__link Политика в области качества
				li.side-nav__item
					a(href="#").side-nav__link Карьера
				li.side-nav__item
					a(href="#").side-nav__link Новости
				li.side-nav__item
					a(href="#").side-nav__link Наши партнёры
		.company__info
			.company__picture
				img(src="img/director.jpg").company__img
				p.company__img-text Генеральный директор ОOО «Вотекс» <br> Юрий Михайлович Войцеховский
			.company__text
				p Художественное переживание, следовательно, использует канон, таким образом, сходные законы контрастирующего развития характерны и для процессов в психике. Целостность заканчивает горизонт ожидания. Асинхронность эволюции видов, как бы это ни казалось парадоксальным, аккумулирует глубокий символический метафоризм.
				p Флобер, описывая нервный припадок Эммы Бовари, переживает его сам: Возрождение самостоятельно. Эротическое заканчивает неизменный катарсис. Одиночество многопланово вызывает этикет. Природа эстетического, в первом приближении, изящно продолжает сокращенный модернизм, таким образом, сходные законы контрастирующего развития характерны и для процессов в психике. Композиция, в первом приближении, представляет собой определенный экзистенциализм, что-то подобное можно встретить в работах Ауэрбаха и Тандлера.
				img(src="img/signature.jpg", style="float:right;", alt="")
