mixin fabric
	section.catalogue
		.side-nav
			h1.side-nav__title Каталог
			ul.side-nav__list
				li.side-nav__item
					a(href="#").side-nav__link.side-nav__link--active Ткани для домашнего текстиля
					ul.side-nav__list
						li.side-nav__item
							a(href="#").side-nav__link.side-nav__link--active Сатиновая ткань
						li.side-nav__item
							a(href="#").side-nav__link Перкалевая ткань
						li.side-nav__item
							a(href="#").side-nav__link Вафельное полотно
						li.side-nav__item
							a(href="#").side-nav__link Жаккардовые ткани
						li.side-nav__item
							a(href="#").side-nav__link Льняная ткань
				li.side-nav__item
					a(href="#").side-nav__link Готовые изделия
				li.side-nav__item
					a(href="#").side-nav__link Ткани защитные для спецодежды
		.catalogue__content
			h2.catalogue__title Сатин гладкий
			.fabric-info
				.fabric-info__previews
					img(src="img/fabric-preview.jpg").fabric-info__img-big
					.fabric-info__imgs
						img(src="img/fabric-preview-small.jpg").fabric-info__img-small
						img(src="img/fabric-preview-small2.jpg").fabric-info__img-small
						img(src="img/fabric-preview-small3.jpg").fabric-info__img-small
						img(src="img/fabric-preview-small4.jpg").fabric-info__img-small
				.fabric-info__selection
					ul.fabric-info__using
						li.fabric-info__icon
						li.fabric-info__icon
						li.fabric-info__icon
						li.fabric-info__icon
					p Представляется логичным, что исчисление предикатов осмысляет из ряда вон выходящий структурализм. Аподейктика естественно дискредитирует катарсис. Ассоциация, как следует из вышесказанного, контролирует интеллект. Гипотеза вырождена. Интересно отметить, что дуализм естественно рефлектирует мир. Искусство заполняет язык образов. Исчисление предикатов нетривиально. Аналогия, следовательно, иллюзорна.
					ul.fabric-info__colors
						li.fabric-info__color
							img(src="img/fabric-color.jpg")
							span 103
						li.fabric-info__color
							img(src="img/fabric-color.jpg")
							span 103
						li.fabric-info__color
							img(src="img/fabric-color.jpg")
							span 103
						li.fabric-info__color
							img(src="img/fabric-color.jpg")
							span 103
						li.fabric-info__color
							img(src="img/fabric-color.jpg")
							span 103
						li.fabric-info__color
							img(src="img/fabric-color.jpg")
							span 103
						li.fabric-info__color
							img(src="img/fabric-color.jpg")
							span 103
						li.fabric-info__color
							img(src="img/fabric-color.jpg")
							span 103
						li.fabric-info__color
							img(src="img/fabric-color.jpg")
							span 103
						li.fabric-info__color
							img(src="img/fabric-color.jpg")
							span 103
						li.fabric-info__color
							img(src="img/fabric-color.jpg")
							span 103
						li.fabric-info__color
							img(src="img/fabric-color.jpg")
							span 103
						li.fabric-info__color
							img(src="img/fabric-color.jpg")
							span 103
					button(type="button").btn.request Отправить запрос
			+docs
