mixin news
	section.news
		.side-nav
			h1.side-nav__title Новости
			ul.side-nav__list
				li.side-nav__item
					a(href="#").side-nav__link.side-nav__link--active Новости нашей компании
				li.side-nav__item
					a(href="#").side-nav__link Новости партнёров
				li.side-nav__item
					a(href="#").side-nav__link Пресса о нас
		.news__inner
			ul.news__list
				li.news__item
					img(src="img/news-img.jpg").news__img
					.news__info
						span.news__date 27.09.2018
						p.news__title Индустриальный тип эстетической культуры
				li.news__item
					img(src="img/news-img.jpg").news__img
					.news__info
						span.news__date 27.09.2018
						p.news__title Индустриальный тип эстетической культуры
				li.news__item
					img(src="img/news-img.jpg").news__img
					.news__info
						span.news__date 27.09.2018
						p.news__title Индустриальный тип эстетической культуры
				li.news__item
					img(src="img/news-img.jpg").news__img
					.news__info
						span.news__date 27.09.2018
						p.news__title Индустриальный тип эстетической культуры
				li.news__item
					img(src="img/news-img.jpg").news__img
					.news__info
						span.news__date 27.09.2018
						p.news__title Индустриальный тип эстетической культуры
				li.news__item
					img(src="img/news-img.jpg").news__img
					.news__info
						span.news__date 27.09.2018
						p.news__title Индустриальный тип эстетической культуры
				li.news__item
					img(src="img/news-img.jpg").news__img
					.news__info
						span.news__date 27.09.2018
						p.news__title Индустриальный тип эстетической культуры
				li.news__item
					img(src="img/news-img.jpg").news__img
					.news__info
						span.news__date 27.09.2018
						p.news__title Индустриальный тип эстетической культуры
			button(type="button").btn.news Показать еще
