.nav{
  max-width: 853px;
  width: 100%;
  &__list{
    display: flex;
    justify-content: space-between;
  }

  &__link{
    font-size: 23px;
    color: #454545;
    text-decoration: none;
    transition: color 0.3s ease;
    &:hover{
      color: #f20000;
    }

    &--eng{
      font-weight: 700;
    }
  }
}
