.nav{
  &__list{
    display: flex;
    margin-right: 128px;

  }
  &__item{
    margin-right: 84px;
  }
  &__link{
    font-size: 23px;
    color: #454545;
    text-decoration: none;
    transition: color 0.3s ease;
    &:hover{
      color: #f20000;
    }

    &--eng{
      font-weight: 700;
    }
  }
}
