.nav{

  max-width: 1290px;
  width: 100%;
  display: flex;
  &__list{
    display: flex;
    justify-content: space-between;
    max-width: 853px;
    width: 100%;
    margin-right: 50px;
    ul{
      display: none;
    }
  }

  &__link{
    font-size: 23px;
    color: #454545;
    text-decoration: none;
    transition: color 0.3s ease;
    &:hover{
      color: #f20000;
    }

    &--eng{
      font-weight: 700;
    }
  }
}
