include blocks/blocks

doctype html
html(lang="ru")
	+head
	body
		header.header
			+logo
			+nav
			+contacts
		.bg(style="background-image: url(img/catalogue2-bg.jpg);")
		.inner-wrapper
			+catalogue2
		+footer
		+agreement
		+scripts
