.agreement{
    display: none;
    background-color: #fff;
    width: 70%;
    padding: 50px;
    overflow: visible;

    &__close{
    width: 37px;
    height: 36px;
    position: absolute;
    display: block;
    right: -10px;
    background-repeat: no-repeat;
    top: -55px;
    background-image: url(../i/close.png);
    transition: all .6s ease;
    }
    &__title{
    font-weight: 700;
    font-size: 17px;
    }
}
.fancybox-close-small {
    display: none;
}
