.catalogue{
  display: flex;
  &__title{
    font-size: 28px;
    color: #454545;
    font-weight: 400;
    margin: 0;
    margin-bottom: 31px;
  }
  &__content{
    padding-bottom: 40px;
    width: 100%;
  }
  &__item{
    display: flex;
    margin-bottom: 40px;
    align-items: flex-start;
    text-decoration: none;
    color: #454545;
  }
  &__img-wrap{
    margin-right: 33px;
    max-width: 371px;
    width: 100%;
    flex-shrink: 0;
    transition: opacity 0.4s ease;
    opacity: 1;
    &:hover{
      opacity: 0.8;
    }
  }
  &__item-img{
    width: 100%;
  }
  &__item-title{
    color:#454545;
    text-decoration: none;
    display: inline-block;
    &:hover h3{
      border-color:#454545;
    }
  }
  &__item-title h3{
    border-bottom:1px solid transparent;
    transition: border-color 0.6s ease;
  }
  &__item-text p{
    font-size: 16px;
    color: #454545;
    margin: 0;
    line-height: 2.15;
    text-align: justify;
  }
  &__item-text h3{
    color: #454545;
    font-size: 20px;
    margin: 0;
    font-weight: 400;
    margin-top: -4px;
    margin-bottom: 17px;
  }
}
