.catalogue{
  display: flex;
  &__title{
    font-size: 28px;
    color: #454545;
    font-weight: 400;
    margin: 0;
    margin-bottom: 40px;
  }
  &__item{
    display: flex;
    margin-bottom: 40px;
  }
  &__item-img{
    margin-right: 33px;
  }
  &__item-text p{
    font-size: 16px;
    color: #454545;
    margin: 0;
    line-height: 2.15;
  }
  &__item-text h3{
    color: #454545;
    font-size: 20px;
    margin: 0;
    line-height: 0;
    font-weight: 400;
    margin-bottom: 38px;
  }
}
