.company{
  display: flex;
  &__info{
    display: flex;
    max-width: 900px;
    width: 100%;
    padding-bottom: 104px;
    padding-top: 63px;
  }
  &__text p{
    color: #454545;
    font-size: 16px;
    margin: 0;
    margin-bottom: 58px;
    line-height: 2.15;
    margin-top: -11px;
    text-align: justify;
  }
  &__img-text{
    color: #454545;
    font-size: 15px;
    line-height: 1.7;
    margin-top: 22px;
  }
  &__picture{
    margin-right: 46px;
  }
}
