.fabrics{
  display: flex;
  flex-wrap: wrap;
  &:after{
    content:"";
    width: 250px;
  }
  &__item{
  display: flex;
  flex-direction: column;
  margin-bottom: 58px;
  margin-right: 22px;
  text-decoration: none;
  color: #454545;
  max-width: 18.4%;
  transition: opacity 0.4s ease;
  &:nth-child(5n){
    margin-right: 0;
  }
  &:hover{
    opacity: 0.7;
  }
  }
  &__img{
    height: auto;
    display: block;
    width: 100%;
  }
  &__img-wrapper{
    margin-bottom: 12px;
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  span{
    font-size: 16px;
    color: #454545;
  }
}
