.news{
  display: flex;

  &__img{
    height: auto;
    width: 100%;
  }
  &__img-wrap{
    position: relative;
    margin-bottom: 10px;
  }
  &__list{
    display: flex;
    flex-wrap: wrap;
    padding-top: 63px;
    max-width: 1213px;
  }
  &__item{
    margin-right: 29px;
    max-width: 280px;
    width: 100%;
    margin-bottom: 43px;
    text-decoration: none;
    color: #454545;
    transition: opacity 0.4s ease;
    &:hover{
      opacity: 0.7;
    }

    &:nth-child(4n){
      margin-right: 0;
    }
  }
  &__date{
    font-size: 11px;
    color: #454545;
  }
  &__title{
    font-size: 15px;
    color: #454545;
    margin: 0;
    margin-top: 6px;
    line-height: 1.4;
  }
}
