.side-nav{
  max-width: 357px;
  width: 100%;
  margin-right: 86px;
  text-align: right;

  &__item{
    margin-bottom: 23px;
  }
  &__link{
    font-size: 18px;
    color: #454545;
    border-bottom:1px solid #454545;
    transition: border-color 0.3s ease;
    &:hover{
      border-color: transparent;
    }
    &--active{
      color: #f20000;
      border-color: #f20000;
    }
  }
}
