.footer{
  background-color: #d5d5d5;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 49px;
  padding-right: 59px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__link, &__text{
    color: #454545;
    font-size: 13px;
  }
  &__text{
    margin: 0;
  }
  &__link{
    text-decoration: none;
    border-bottom:1px solid #454545;
    transition: border-color 0.6s ease;
    &:hover{
      border-color:transparent;
    }
  }
}
