html {
	-webkit-box-sizing border-box;
	box-sizing border-box;
}

*,
*::after,
*::before {
	-webkit-box-sizing inherit;
	box-sizing inherit;
}

body,
html {
	width 100%;
	font-family: 'Museo Sans Cyrl';
}
ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
body.vh{
	height: 100vh;
	overflow: hidden;
}
body.ovh{
	overflow: hidden;
	position: fixed;
}
.btn{
	cursor: pointer;
  margin-top: 54px;
  font-size: 17px;
  color: #454545;
  border:0;
  background-color: transparent;
  border:2px solid #454545;
  max-width: 243px;
  width: 100%;
  text-align: center;
  display: block;
  line-height: 1;
	height: 48px;
  margin: 0 auto;
  margin-bottom: 64px;
	outline-color: transparent;
	transition: border-color 0.6s ease;
	&:hover{
		border-color: #d5d5d5;
	}
}
.btn.news-more{
	margin-top: 32px;
	margin-bottom: 75px;
}
.btn.more{
	margin-top: -7px;
}
.btn.request{
	margin-top: 24px;
}
.owl-carousel .owl-nav .owl-prev{
	border:0;
	background-color: transparent;
	width: 50px;
	position: absolute;
	height: 50px;
	top: 50%;
	transform:translateY(-50%);
	left: 30px;
	font-size: 0;
	outline-color: transparent;
	background-image: url("../i/arrowhead-thin-outline-to-the-left.svg");
}
 .owl-carousel .owl-nav .owl-next{
		border:0;
		background-color: transparent;
		width: 50px;
		outline-color: transparent;
		font-size: 0;
		position: absolute;
		top: 50%;
		transform:translateY(-50%);
		right: 30px;
		height: 50px;
		background-image: url("../i/arrow-point-to-right.svg");
 }
.burger-menu {
  width: 38px;
  height: 30px;
  background: transparent;
  border: 0;
  display: none;
  cursor: pointer;
  outline-color: transparent;
  position: relative;
  padding: 0;
  overflow: hidden;
	margin-left: 20px;
  transition: background .3s;
}
.burger-menu span {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 5px;
    bottom: 13px;
    background: #f20000;
    transition: background 0s .3s;
}
.burger-menu span:after, .burger-menu span:before {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #f20000;
    content: "";
    transition-duration: .3s, .3s;
    transition-delay: .3s, 0s;
}
.burger-menu span:before {
    top: 12px;
}
.burger-menu span:before {
    transition-property: top, transform;
}
.burger-menu span:after {
    bottom: 12px;
}
.burger-menu span:after {
    transition-property: bottom, transform;
}
.burger-menu.is-active span {
    background: none;
}

.burger-menu.is-active span:before {
    top: 0;
    transform: rotate(45deg);
}
.burger-menu.is-active span:after {
    bottom: 0;
    transform: rotate(-45deg);
}
@media screen and (max-width: 1850px) {
.docs__item{
	padding-left: 130px;
	padding-right: 20px;
	&:not(:last-child){
		margin-right: 10px;
	}
}

.news__item{
	max-width: 23%
}
.docs__link{
	display: block;
}

.docs__item:before{
	background-repeat: no-repeat;
	left: 30px;
}
	.fabric-info__color{
		margin-bottom: 20px;
	}
}
@media screen and (max-width: 1700px) {
	.catalogue__content{
		flex-shrink: 1;
	}
	.catalogue__item-text p{
	font-size: 15px;
  line-height: 2.1;
	}
	.news__item{
		max-width: 22%
	}
}
@media screen and (max-width: 1600px) {
	.logo {
    margin-right: 60px;
}
.catalogue__item-text p {
    font-size: 15px;
    line-height: 1.8;
}
.catalogue__content {
    flex-shrink: 0.9;
}
.fabric-info__color {
    margin-right: 20px;
}
.side-nav{
	margin-right: 60px;
}
.main-catalogue__text {
    font-size: 23px;
	}
}
@media screen and (max-width: 1500px) {
	.nav__link {
    font-size: 20px;
}
.nav__list{
	margin-right: 0;
}

.main-catalogue__text {
    font-size: 21px;
	}
.contacts__feedback-btn{
	margin-right: 20px;
}
.social__list{
	padding-left: 20px;
	padding-right: 20px;
}
.social{
	margin-right: 0;
}
.contacts__phone-number {
    font-size: 27px;
}
.header, .footer, .inner-wrapper{
	  padding-left: 40px;
    padding-right: 40px;
}
.side-nav{
	margin-right: 65px;
}
.side-nav__link {
    font-size: 15px;
	}
.company__text p{
	font-size: 14px;
}
.company__img-text{
	font-size: 13px;
}
.company__img{
	width: 250px;
}
.company__info{
	flex-shrink: 1;
}
.side-nav{
	flex-shrink: 2.8;
}
.news__inner{
	flex-shrink: 0.5;
}
}
@media screen and (max-width: 1365px) {
.nav__link {
	font-size: 18px;
	}
.fabrics{
	margin-bottom: 28px;
}
.contacts__phone{
	max-width: 220px;
}
.catalogue__item-img{
	margin-top: 4px;
}
.news__list{
	padding-top: 67px;
}
.btn.news-more{
	margin-bottom: 52px;
}
.main-catalogue{
	height: calc(100vh - 211px);
}
.news__inner{
	flex-shrink: 0.8;
}
.fabrics span{
	font-size: 13px;
}
.side-nav__item ul .side-nav__link{
	font-size: 13px;
}
.news__item{
	margin-bottom: 20px;
}
.contacts__phone-number {
    font-size: 25px;
}
.catalogue__item-text p{
	font-size: 14px;
	line-height: 1.5;
}

.fabrics__item{
	margin-bottom: 30px;
	margin-right: 15px;
}
.catalogue__item-text h3{
	margin-bottom: 10px;
}
.logo{
	margin-right: 40px;
}
.logo__img{
	width: 80px;
}
.side-nav__link {
    font-size: 15px;
	}
.company__text p {
    font-size: 13px;
}
.company__img{
	width: 220px;
}
.nav__list{
	margin-right: 0;
}
.social{
	margin-right: 0;
}
.side-nav {
    margin-right: 50px;
}
.company__picture {
    margin-right: 35px;
}
.company__img-text{
	font-size: 12px;
}
.company__text p{
	margin-bottom: 35px;
}
.docs__item:before{
	left: 20px;
	background-size: 80%;
}
.docs__item{
	padding-left: 100px;
}
}
@media screen and (max-width: 1200px) {
.docs__link{
	font-size: 13px;
}
.main-catalogue__text {
    font-size: 19px;
}
.news__inner{
	flex-shrink: 1;
}
.catalogue__item-img{
	  margin-top: 4px;
    max-width: 291px;
}
.news .side-nav {
    flex-shrink: 2.2;
}
.fabric-info__color {
    margin-right: 15px;
    width: 40px;
}
.main-catalogue {
    height: calc(100vh - 190px);
}
.fabric-info p{
	font-size: 13px;
	margin-bottom: 30px;
}
.fabric-info__color img{
	margin-bottom: 5px;
}
.fabric-info__previews {
    max-width: 264px;
		margin-right: 30px;
	}
.fabric-info__img-big{
	margin-bottom: 0;
}
.catalogue__item-text p{
	font-size: 13px;
}

.catalogue__item-img {
		margin-right: 23px;
}
.catalogue__item-text h3{
	font-size: 19px;
}
.docs__item:before{
	background-size: 70%;
}
.docs__item--standarts:before{
	background-size: 65%;
}
.docs__item {
    padding-left: 80px;
}
.contacts__phone-number {
    font-size: 18px;
}
.contacts__phone{
	flex-shrink: 3;
}
.contacts__feedback-btn{
	margin-right: 14px;
}
.nav__list{
	flex-shrink: 0.6;
}

.company__text p {
    font-size: 12px;
		margin-top: -7px;
}
.side-nav__item {
    margin-bottom: 15px;
}

.company__img{
	width: 200px;;
}
.side-nav {
    margin-right: 40px;
}
.company__picture {
    margin-right: 25px;
}
.logo__img{
	width: 60px;
}
.social__list:before, .social__list:after{
	  height: 40px;
    top: -9px;
}
.social__link{
	background-size: 80%;
}
.contacts__feedback-btn{
	background-size: 80%;
}
.social__list{
	padding-left: 20px;
	padding-right: 20px;
}
.nav__list{
	margin-right: 0;
}
.nav__link {
	 font-size: 15px;
	}

}
@media only screen and (min-width: 1025px){
.nav{
    display: flex !important;
}
}
@media screen and (max-width: 1023px) {
	body.vh{
		overflow: scroll;
		height: auto;
	}
	.header{
		  position: fixed;
	    width: 100%;
			top: 0;
			z-index: 999;
			background-color: #fff;
	}
	.main-catalogue{
		padding-top: 114px;
	}
	.bg{
		height: 100px;
		margin-top: 114px;
	}
  .nav{
		display: none;
    background: #fff;
    position: fixed;
    left: 0;
    right: 0;
    top: 113px;
		z-index: 99;
    flex-direction: column;
    bottom: 0;
    padding-left: 40px;
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 50px;
    overflow-y: scroll;
	}
.side-nav__item {
    margin-bottom: 25px;
}
.main-catalogue{
	flex-direction: column;
	height: auto;
}
.main-catalogue__item{
	width: 100%;
}
.main-catalogue__img {
    height: 537px;
	}
.main-catalogue__text{
	font-size: 22px;
}
.fabrics__item{
	margin-right: 0;
	width: 47%;
	max-width: unset;
}
.fabrics{
	justify-content: space-between;
	padding-left: 25px;
  padding-right: 25px;
}
.fabrics span {
    font-size: 16px;
}
.news{
	flex-direction: column;
}
.news__list{
	padding-top: 20px;
	justify-content: space-between;
	padding-left: 25px;
	padding-right: 25px;
}
.news__item {
    margin-right: 0px;
	}
.news__item{
	max-width: 48%;
}
.side-nav__title{
	color: #f20000;
}
.side-nav__list{
	padding-left: 25px;
}
.company .side-nav__list{
	padding-left: 0;
}
.catalogue{
	flex-direction: column;
}

	.contacts{
		margin:0;
	}
	.nav__list{
		flex-direction: column;
		margin-bottom: 50px;
	}
	.header{
		justify-content: space-between;
	}
	.burger-menu {
    display: block;
}
.contacts__phone{
	align-items: center;
	display: flex;
  justify-content: flex-end;
}
.nav__item{
	margin-bottom: 20px;
}
.nav__link{
	font-size: 18px;
	border-bottom: 1px solid #454545;

}
.social__list:before, .social__list:after{
	content:none;
}
.social{
	order:1;
	margin-right: 20px;
}
.contacts__feedback{
	order:2
}

.social__list{
	padding: 0;
}
.social__link{
	background-size: cover;
}
.contacts__feedback-btn{
	background-size: cover;
	margin-right: 0;
}
.contacts{
	justify-content: space-between;
	max-width: unset;
	width: auto;
}
.nav__item:last-child{
	margin-bottom: 0;
}

.nav__list ul .nav__link{
	font-size: 14px;
}
.nav__list ul{
	display: block;
	margin-top: 15px;
	padding-left: 15px;
	margin-bottom: 15px;
	display: none;
}
.nav__list ul ul{
	padding-left: 25px;
	display: none;
}
.company .side-nav__item:not(.side-nav__item--active){
	display: none;
}
.catalogue .side-nav__item ul{
	display: none;
}
.side-nav__item .side-nav__link{
	font-size: 16px;
}
.side-nav__item ul{
	margin-bottom: 0;
}
.company .side-nav__item--active .side-nav__link{
	color:#454545;
	border:none;
}
.side-nav__link:hover{
	border-color: #454545;
}
.docs__link {
    font-size: 13px;
}
.catalogue__content{
	margin-top: 15px;
}
.side-nav__item--active .side-nav__link:hover{
	border-color: #f20000;
}
.docs__item{
	padding-right: 10px;
}
.company{
	flex-direction: column;
}
.company__img {
    width: 220px;
}
.side-nav__title{
	text-align: left;
	margin-bottom: 25px;
}
.side-nav{
	text-align: left;
}
.docs__item:not(:last-child){
	margin-right: 5px;
}
.company__info{
	padding-top: 30px;
}

.nav__item--active .nav__list{
	display: block;
}
.nav__item--active > .nav__link{
  color: #f20000;
  border-bottom: 1px solid #f20000;
}
.nav__item--active > .nav__link:hover{
	color: #f20000;
}
.nav__link:hover{
	color: #454545;
}
.contacts__phone-number{
	padding-top: 0;
}
.company .side-nav__title{
	margin-bottom: 5px;
}
}
@media screen and (max-width: 900px) {
	.catalogue__item-img{
		height: auto;
		margin-bottom: 30px;
	}
	.catalogue__item{
		align-items: flex-start;
    flex-direction: column;
	}
}
@media screen and (max-width: 767px) {
.header, .footer, .inner-wrapper{
	padding-left: 20px;
	padding-right: 20px;
}
.bg {
    margin-top: 107px;
}
.fabric-info__previews{
	display: none;
}
.fabric-info__mobile .fabric-info__main-img{
	height: 400px;
}
.fabric-info__mobile-wrapper{
	display: block;
	margin-bottom: 35px;
}
.fabric-info__colors{
	padding-left: 0;
}
.nav > .nav__list{
	height: calc(100vh - 269px);
}
.main-catalogue {
    padding-top: 107px;
}
.side-nav__title{
	font-size: 24px;
}
.btn.request{
	margin-bottom: 44px;
}
.fabric-info{
	margin-bottom: 0;
}
.fabric-info__main-img{
	max-width: unset;
}
.inner-wrapper{
	padding-top: 20px;
}
.company__info{
	padding-top: 0;
}

.contacts{
	position: fixed;
  background: #fff;
  width: 100%;
  bottom: 0;
  left: 0;
	z-index: 999;
  padding: 20px;
}
.main-catalogue__img {
    height: 437px;
}
.catalogue__item-img{
	width: 100%;
}
.fabric-info__using{
	margin: 0 auto;
	margin-bottom: 30px;
}
.fabric-info__previews{
	width: 100%;
  margin: 0 auto;
  margin-bottom: 50px;
	max-width: unset;
}
.fabric-info__imgs{
	display: none;
}
.fabric-info{
	flex-direction: column;
	padding-left: 25px;
  padding-right: 25px;
}
.fabric-info__color{
	width: auto;
}
.fabric-info p{
	font-size: 15px;
}
.nav{
	padding-left: 20px;
	padding-right: 20px;
	top: 106px;
	padding-top: 0;
	padding-bottom: 20px;
}
.header{
	padding-top: 20px;
	padding-bottom: 20px;
}
.docs__item{
	padding-left: 130px;
	width: 100%;
	margin-bottom: 20px;
	max-width: unset;
	padding-right: 50px;
}
.docs{
	flex-wrap: wrap;
}
.docs__item:before{
	background-size: cover;
}
.docs__link{
	font-size: 16px;
}
.catalogue__item-text h3{
	position: absolute;
	top: 0;
	left: 0;
	font-size: 22px;
}
.catalogue__item-text p{
	font-size: 16px;
	line-height: 2;
}
.catalogue__item{
	position: relative;
	padding-top: 50px;
}
}
@media screen and (max-width: 500px) {
	.company__info{
		flex-direction: column;
	}
	.main-catalogue__img {
    height: 250px;
}
.fabric-info__color{
	margin-right: 11px;
}
.fabric-info__color {
    margin-right: 13px;
		width: 16%;
}
.fabric-info__color:nth-child(5n){
    margin-right: 0;
}
.fabrics__img{
    height: auto;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    right: 0;
    bottom: 0;
    transform: translate(-50%, -50%);
  }
.fabrics__img-wrapper{
    margin-bottom: 12px;
    width: 100%;
    height: 220px;
    position: relative;
    overflow: hidden;
  }
	.company__picture{
		margin-right: 0;
		text-align: center;
		width: 90%;
    margin: 0 auto;
	}
.news__item{
	margin-bottom: 50px;
}
.news__item:last-child{
      margin-bottom: 0;
}
.btn.news-more{
	margin-top: 50px;
}
.fabrics__item{
	width: 100%;
}
	.company__img-text{
		margin-top: 14px;
		font-size: 13px;
    text-align: left;
	}
	.news__item {
    max-width: 100%;
}
	.company__text p{
		font-size: 14px;
		margin-top: -9px;
	}
	.company__text{
		margin-top: 20px;
	}
	.company__img{
		width: 100%;
	}
	.footer br{
		display: block;
	}
}
@media screen and (max-width: 400px) {
	.fabric-info__color{
		width: 43px;
	}
	.fabric-info__color {
    width: 16%;
}
.fabric-info__color {
    margin-right: 13px;
}
	.fabrics__img-wrapper{
		height: 180px;
	}
	.catalogue__item-text{
		padding-left: 25px;
    padding-right: 25px;
    text-align: justify;
	}
	.catalogue__item-text h3{
		margin-left: 20px;
	}
	.catalogue__item-img {
    max-width: unset;
}
.catalogue__item {
    margin-left: -20px;
    margin-right: -20px;
}
}
@media screen and (max-width: 374px) {
.contacts__phone-number {
    font-size: 16px;
}
.main-catalogue {
    padding-top: 96px;
}
.fabric-info__color {
    width: 15%;
}
.footer{
	flex-direction: column;
  align-items: flex-start;
}
.fabrics__img-wrapper {
    height: 140px;
}
.bg {
    margin-top: 96px;
}
.nav > .nav__list{
	height: calc(100vh - 160px);
}
.fabric-info__icon {
    width: 50px;
    height: 50px;
	}
.footer__left{
	margin-bottom: 10px;
}
.contacts__phone-btn{
	font-size: 12px;
}
.nav__link {
    font-size: 16px;
	}
.nav__list ul .nav__link {
    font-size: 13px;
}
.logo__img {
    width: 50px;
}
.nav{
	top: 96px;
}

.burger-menu span:after {
    bottom: 11px;
}
.burger-menu span:before {
    top: 11px;
}
.docs__link {
    font-size: 13px;
}
.docs__item {
    padding-left: 105px;
		height: 100px;
	}
	.docs__item--standarts:before{
		top: 18px;
	}
	.docs__item--trials:before{
		top: 10px;
	}
.docs__item:before {
    background-size: 80%;
}
}
