html {
	-webkit-box-sizing border-box;
	box-sizing border-box;
}

*,
*::after,
*::before {
	-webkit-box-sizing inherit;
	box-sizing inherit;
}

body,
html {
	width 100%;
	font-family: 'Museo Sans Cyrl';
}
ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
body.100vh{
	max-height: 100vh;
	overflow: hidden;
}

@media screen and (min-width: 768px) {
  .foo {
		width 576px;
	}
}

.bar {
	width 160px;
}

@media screen and (min-width: 768px) {
	.bar {
		width 384px;
	}
}
