include standart/__head
include standart/__footer
include standart/__scripts
include header/logo
include header/nav
include header/contacts
include content/main-catalogue
include content/agreement
include content/news
include content/company
include content/catalogue
include content/catalogue2
include content/fabric
include content/docs
