mixin contacts
	.contacts
		.contacts__feedback
			a(href="#").contacts__feedback-btn
		.contacts__social.social
			ul.social__list
				li.social__item
					a(href="#").social__link.social__link--fb
				li.social__item
					a(href="#").social__link.social__link--insta
				li.social__item
					a(href="#").social__link.social__link--vk
		.contacts__phone
			a(href="tel:+7 495 480 75 79").contacts__phone-number +7 495 480 75 79
			a(href="#").contacts__phone-btn обратный звонок
