mixin nav
	.nav
		ul.nav__list
			li.nav__item
				a(href="#").nav__link О компании
			li.nav__item
				a(href="#").nav__link Каталог
			li.nav__item
				a(href="#").nav__link Новости
			li.nav__item
				a(href="#").nav__link Контакты
			li.nav__item
				a(href="#").nav__link.nav__link--eng In English
