.footer {
  background-color: #e6e6e6;
  padding: 14px 157px;
  padding-right: 165px;
  font-family: "PTSans";

  &__wrapper{
   display: flex;
   justify-content: space-between;
   align-items: center;
  }

  &__info-top{
    margin: 0;
    line-height: 1;
    span{
      font-size: 11px;
      line-height: 1;

    }
  }
  &__info-bottom{
    margin: 0;
    span{
      font-size: 12px;
      line-height: 1;
    }
  }

  &__link-agrmnt, &__link-dvlp{
    color: #000;
    font-size: 12px;
    text-decoration: none;
    border-bottom: 1px solid #000;
    transition: all 0.6s ease;
    &:hover{
      border-color: transparent;
    }
  }
  &__info-second{
    margin-left: 10px;
  }
}
