.header {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
&.fixed{
  width: auto;
  .header__container{
    border-bottom: 2px solid #b7b7b7;
  }
  .header__logo{
    position: absolute;
    width: 583px;
    left: -641px;
    background: #fff;
    transform: skew(-58deg);
    padding-bottom: 10px;
    border-bottom: 2px solid #b7b7b7;
    border-right: 2px solid #b7b7b7;
  }
  .header__logo-img{
   width: 200px;
   transform: skew(58deg);
   margin-left: 226px;
   margin-top: -5px;
  }
}
display: flex;
z-index: 99999999;
justify-content: flex-end;
&__logo{
position: absolute;
top: 0px;
left: -8px;
}
&__container{
  display: flex;
    border-bottom: 2px solid transparent;
    background-image: url(../img/nav-bg.png);
    background-repeat: no-repeat;
    -ms-flex-item-align: start;
    align-self: flex-start;
    padding-left: 97px;
    padding-right: 156px;
    z-index: 999999;
    border-bottom: 2px solid transparent;
}
&__nav{
  align-self: flex-start;
}
&__list{
  display: flex;
}
&__link{
  font-family: "PTSans";
  font-weight: 700;
  font-size: 17px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.3px;
  text-align: left;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.39);
  line-height: 1;
  border-bottom: 1px solid transparent;
  transition: border-color 0.6s ease;
  &--phone{
    font-size: 23px;
    line-height: 0;
    &:hover{
      border-color:transparent!important;
    }
  }
  &--mail{
    &:hover{
      border-color:transparent!important;
    }
  }
  &:hover{
    border-color:#fff;
  }
}
&__item{
  padding-top: 16px;
  padding-bottom: 13px;
  margin-right: 40px;
  &--phone{
    margin-right: 0!important;
  }
  &--last{
    position: relative;
    margin-right: 105px;
    &:before{
      content:"";
      position: absolute;
      width: 4px;
      height: 33px;
      background-image: url(../img/ic.png);
      right: -58px;
      top: 8px;
    }
  }
}
}
