.request{
  display: flex;
  justify-content: space-between;

  &__title{
    font-family: "CoreSansM85Heavy";
    font-size: 43px;
    font-style: italic;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 40px;
    transform: skew(-11deg);
  }
  &__left{
    padding-left: 168px;
    padding-top: 68px;
    max-width: 720px;
    width: 100%;
  }
  &__right{
    width: 100%;
    padding-top: 80px;
    padding-left: 265px;
    background-color: #e5e5e5;
    padding-right: 293px;
    padding-bottom: 54px;
  }
  &__item{
    font-size: 22px;
    font-family: "PTSans";
    font-weight: 700;
    padding-left: 123px;
    position: relative;
    line-height: 1;
    padding-bottom: 50px;
    padding-top: 50px;

    &:before{
      content:"";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    &:first-child:before{
      width:91px;
      height: 83px;
      background-image: url(../img/icon1.png);
    }
    &:nth-child(2):before{
      width:77px;
      height: 73px;
      left: 11px;
      background-image: url(../img/icon2.png);
    }
    &:nth-child(3):before{
      width:57px;
      height: 74px;
      left: 22px;
      background-image: url(../img/icon3.png);
    }
  }
  &__label{
    font-size: 17px;
    font-family: "PTSans";
    &--textarea{
      margin-top: 17px;
    }
  }
  &__btn{
    background-color: #00c4f3;
    color: #fff;
    max-width: 260px;
    width: 100%;
    font-family: "CoreSansM85Heavy";
    text-transform: uppercase;
    font-size: 27px;
    font-style: italic;
    padding: 18px 53px;
    border-radius: 15px;
    line-height: 0.8;
    cursor: pointer;
    outline-color: transparent;
    border:0;
    margin-left: 178px;
    opacity: 1;
    transition: opacity 0.6s ease;
    &:hover{
      opacity: 0.6;
    }
  }
  &__radio-label{
    font-size: 13px;
  }
  &__link{
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #000;
    transition: all 0.6s ease;
    &:hover{
      border-color: transparent;
    }
  }
  &__captcha-block{
    display: flex;
    max-width:450px;
    width: 100%;
  }

  &__input{
    height: 52px;
    border:0;
    max-width: 448px;
    width: 100%;
    outline-color: transparent;
    border-radius: 15px;
    padding-left: 20px;

    &.warning{
      border:2px solid red;
    }
    &--textarea{
      height: 170px;
      resize: none;
      padding-top: 15px;

    }
    &--captcha{
      max-width:270px;
      margin-right: 30px;
    }
  }
  &__field{
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &--radio{
      display: block;
      margin-left: 178px;
      margin-top: 24px;
      margin-bottom: 41px;
    }
    &--textarea{
      align-items: flex-start;
      margin-top: 20px;
      margin-bottom: 23px;
    }
  }
  &__radio+label {
    position: relative;
    padding: 0 0 0 35px;
    cursor: pointer;
}
  &__radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 7px;
}
}
.request__radio+label:after, .request__radio+label:before {
    position: absolute;
    content: "";
}
.request__radio+label:before {
    left: 0;
    width: 22px;
    height: 22px;
    border-radius: 7px;
    background: #fff;
}
.request__radio:checked+label:after {
    opacity: 1;
}
.request__radio+label:after {
    top: 1px;
    left: 4px;
    width: 14px;
    height: 14px;
    border-radius: 5px;
    background: #787878;
    opacity: 0;
    transition: .2s;
}
.request__radio+label:after, .request__radio+label:before {
    position: absolute;
    content: "";
}
